@import "../../../../styles/colors";
@import "../../../../styles/mediaQueries";

.wrapper {
  background-color: transparent;
  color: #999;

  .inner {
    margin: 131px auto 0px auto;
    width: 360px;
    background-color: #ffffff;
    border-radius: 6px;

    h1 {

      a {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5px;

        img {
          width: 250px;
          display: block;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 5px;
        }
      }
    }

    h2 {
      font: normal 2.4em "Helvetica Neue", helvetica, sans-serif;
      text-align: center;
    }

    h3 {
      width: 310px;
      height: 20px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      line-height: 20px;
      color: #25282A;
      padding: 16px 0 0 0;
      position: relative;
      margin: 0 auto;
    }

    .formErrors {
      margin: 0 0 20px 0;
      font-size: 1em;
      line-height: 1.5;
      font-weight: normal;
      text-align: left;
      color: #f55;
      border-radius: 8px;
      box-shadow: 0 2px 2px #545454;
      margin-top: 2em;

      h2 {
        padding: 10px 20px;
        font-size: 2em;
        line-height: 1;
        color: #fff;
        background: #f55;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        text-align: left;
      }

      ul {
        margin-top: 0;
        padding: 20px 20px 15px 20px;
        font-size: 1.5em;

        li {
          margin: 0 0 5px 20px;
          list-style: disc;

          a {
            color: inherit;
          }
        }
      }
    }

    .socialAuthContainer {
      float: right;
      width: 270px;
      margin: 39px 0 0 0;
    }

    .notAMember {
      clear: both;
      padding: 10px 0 0 0;
      font-size: 1.4em;
      text-align: center;

      p {
        line-height: 1.5;
        color: #999;

        a {
          color: #999;

          &:visited {
            color: #999;
          }
        }
      }
    }

    .socialAuthContainerLogIn {
      border-top-width: 25px;
      padding: 16px 0 0 0;
      height: auto;
    }


    .formContainerLogIn {
      float: none;
      width: 310px;
      margin: 0 0 0 25px;

      span {
        display: inline-block;
        margin: -4px 0 -2px 147px;
        font-size: 1.4em;
        line-height: 1;
        color: $textInputIconColor;
        padding: 10px 0 14px 0;
      }

      form {
        fieldset {
          margin: 0 auto 11px auto;

          label {
            display: inline-block;
            margin: 0 0 4px 147px;
            font-size: 1.4em;
            line-height: 1;
            color: #b3b3b3;
            padding: 10px 0 14px 0;

            a {
              color: #999;
              margin-left: 5px;
              font-size: .9em;
              line-height: 1;
              font-weight: normal;
            }

            b {
              width: 107px;
              height: 17px;
              font-family: Roboto;
              font-size: 13px;
              font-weight: 500;
              line-height: 16px;
              color: #9EA2A2;
            }
          }

          label.labelError {
            color: #f55;
          }

          input {
            width: 260px;
            height: 24px;
            position: relative;
            float: right;
            border-radius: 0px 6px 6px 0px;
            font: 16px "Helvetica Neue", helvetica, sans-serif;
            padding: 8px 10px 8px 6px;
            margin-right: 10px;
            color: #444;
            outline: none;
            border-left: none !important;
            left: 10px;
            border: 2px solid $textInputBorderColor;
            -webkit-appearance: none;
          }

          span {
            display: inline-block;
            margin: 0 0 4px 147px;
            font-size: 1.4em;
            line-height: 1;
            color: #b3b3b3;
            padding: 10px 0 14px 0;
          }

          p {
            padding: 48px 0px 0px 10px;
            color: red;
            font-family: roboto;
            font-weight: 500;
          }  

          .inputContainer {
            position: relative;
          }

          .iconContainer {
            width: 42px;
            height: 40px;
            position: absolute;
            border-style: solid !important;
            border-radius: 6px 0px 0px 6px;
            border: 2px;
            border-color: $textInputBorderColor;
            border-right: none !important;

            i {
              font-size: 23px;
              color: $textInputIconColor;
              position: absolute;
              top: 8px;
              left: 7px;
            }
          }

          .inputContainer.inputError {
            .iconContainer {
              border-color: $redRuby;
              color: $redRuby;

              i {
                color: $redRuby;
              }
            }

            input {
              border-color: $redRuby;
              color: $redRuby;
            }
          }

          p {
            padding: 48px 0px 0px 10px;
            color: $redRuby;
            font-family: roboto;
            font-weight: 500;
          }  
        }

      }
        
      .forgot {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        color: #9EA2A2;
        padding: 0 0 25px 0;
        vertical-align: middle;

        a {
          color: $textIputTextColor;
          text-decoration: none;
          float: right;
        }
      }
    }

    .signInButton {
      text-align: center;
      width: 156px;
      height: 33px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 33px;
      border: none;
      border-radius: 20px;
      padding: 0 0 0 0;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      margin-top: 10px;

      button {
        text-align: center;
      }
    }

    .notAMemberYet {
      clear: both;
      padding: 17px 0 25px 0;
      text-align: center;
      text-decoration: none;
      width: 149px;
      height: 17px;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      display: block;
      margin: 0 auto;

      a {
        color: $formButtonColor;
      }
    }
  }

  @media screen and (max-width: $breakBig) {
    height: 100%;

    .inner {
      margin: 0;
      border-radius: 0;
      height: 100%;
      width: 100%;
      overflow: scroll;

      h3 {
        width: 310px;
        top: 0px;
        left: 0px;
        margin: 0 auto;
      }

      .socialAuthContainerLogIn {
        padding: 16px 0 0 0;
        height: auto;
        margin: 0 auto;
      }

      .formContainerLogIn {
        margin: 0 auto;

        span {
          padding: 0 0 11px 0;
          display: block;
          text-align: center;
          margin: 0;

        }
      }

    }
  }

  @media screen and (max-width: $breakSmall) {

    .inner {

      h3 {
        width: 280px;
        top: 0px;
        left: 0px;
        margin: 0 auto;
      }
      .socialAuthContainerLogIn {
        width: 280px;
      }

      .formContainerLogIn {
        width: 280px;

        span {
          display: block;
          text-align: center;
          margin: 0;
        }

        form {

          fieldset {

            .inputContainer {

              input {
                width: 230px;
              }
            }
          }
        }
      }
    }
  }
}


